{
    "parser": "babel-eslint",
    "extends": ["standard", "plugin:react/recommended"],
    "rules": {
        "indent": ["error", 4],
        "semi": "off",
        "space-before-function-paren": "off"
    }
}